@model List<Scarpe_CO.Models.Prodotto>

@{
    ViewBag.Title = "Home Page";


}

<main>
    <section class="container">
        <div class="row g-3">
            @foreach (Scarpe_CO.Models.Prodotto P in Model)
            {
                <div class="col">
                    <div class="card cursorPointer borderPointer" style="width: 18rem;" onclick="redirectToDetails('@Url.Action("Dettagli", "Prodotto", new { id = P.Id })')">
                        <img class="card-img-top" src="@P.ImmagineCopertina" alt="ImgScarpa">
                        <div class="card-body">
                            <h5 class="card-title">@P.Nome </h5>
                            <p class="card-text">@P.Prezzo €</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
</main>

<script>
    function redirectToDetails(url) {
        window.location.href = url;
    }
</script>
