@model List<Scarpe_CO.Models.Prodotto>

@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class=" container">
        <div class="row">
            @foreach (Scarpe_CO.Models.Prodotto P in Model)
            {

                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="@P.ImmagineCopertina" alt="ImgScarpa">
                        <div class="card-body">
                            <h5 class="card-title">@P.Nome</h5>
                            <p class="card-text">@P.Descrizione</p>
                            @Html.ActionLink("Dettagli", "Dettagli", new { id = P.Id }, new { @class = "btn btn-info" })
                        </div>
                    </div>
                </div>

            }


        </div>
    </section>

   
</main>